

.learn-container {
    text-align: center;
    margin: 80px 0;

}


.learn-card {
    border:1px solid black;
    position: relative;
    z-index: 1;
    width: 60px;
    padding: 65px;
    min-height: 300px;
    margin-bottom: 20px;
    margin-right:30px ;
    margin-left: 30px;
    border-radius: 16px;
    transition: 0.3s ease;
}


.learn-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


.icon-circle {
    width: 90px;
    height: 90px;
    background-color: #3c5524;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    position: relative;
    transition: 0.3s ease;
    box-sizing: border-box;
    padding-top: 10px;
}


.learn-card:hover .icon-circle {
    box-shadow: 0 0 18px olivedrab;
}


.icon-circle i {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.learn-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #1e2d27;
}


.learn-card p {
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5;
    padding: 0 5px;
}


@media (max-width: 768px) {
    .learn-card {
        width: 80%;
        float: left;
        min-height: 300px;
    }
}

/* Mobile */
@media (max-width: 560px) {
    .learn-card {
        width: 50%;
        float: none;
        min-height: 250px;
    }
}


.team_heading {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px rgb(50, 41, 223);
}
.team_div p {
    border: 1px solid ;
    color: lightyellow ;
    font-size: 30px;
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    background-color:#506b47;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}

/* team container */
.team_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}
.card{
    border: 1px rgba(177, 168, 168, 0.747) solid;
    border-radius: 7px;
    margin-bottom: 15px;

}
.card:hover{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: block;
}
.card .text{
    padding: 15px;
}


@media screen and (max-width:900px) {
    .card {
        width: 100%;
        min-height: 100px;

    }
    .card img{
        width: 100%;
        min-height: 50px;
        max-height: 200px;
    }
}
@media screen and (max-width:600px) {
    .card{
        width: 70%;
        margin: 15px auto;
    }
    .card img{

        min-height: 200px;
        max-height: 500px;
    }
    /* .card .text{
        padding-bottom: 10px;
    } */ }