
.title {
    border:1px solid black;
    background-color:#eef5e6;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:85px;
    font-size:23px;
    color:black;
    padding-bottom:10px;
    display: flex;
    margin-top: 80px;
}

.paragraph p {
    font-size:20px;
    text-align: left;
    margin-top:50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: arial;
}

.line {
    margin-top:50px;
}


.background img {
    width:100%;
}

.tips {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin-top:70px;
}

.background  {
 display: flex;
 justify-content: center;
 align-items: center;
 background-repeat: no-repeat;
 padding-top: 150px;
 background: url(bottlesgallery/bottles.png);
 width:100% ;
 height:500px;
 background-size: cover;
 margin: 0 auto;
 overflow: auto;
 margin-top:50px;
}

.background .content{
  font-family:arial;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 900px;
  text-align:center ;
  border-radius: 20px;
}

.content p {
    font-size:20px;
    padding-left:10px;
    padding-right:19x;
}


/* Youtube Videos */

.videos {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

.videos div {
    flex-basis:20%;
    text-align: center;
    padding:10px;
    margin-bottom:10px;
    border-radius: 20px;
    }
          
.videos img {
    width:300px;
    height:220px;
    padding:12px;
}
          
.videos button {
    border:2px dashed black;
    font-family: arial;
    padding: 4px 5px;
    font-size: 20px;
    border-radius: 10px;
}
       
.h2 {
font-size: 160%;
}

p {
  font-size:20px;
 }

.videos button {
    background-color:  #3c5524;
}

.team1 {
    border:1px solid black;
}  
.team2 {
    border:1px solid black;
}  
.team3 {
    border:1px solid black;
}    

.explore-video {
    text-align: center;
    font-size: 30px;
}
.youtube {
    font-family:arial;
}

.team1, .team2, .team3 {
    background-color:rgb(215, 241, 215);
}

/* What you will learn */
.what-you-will-learn-section-title {
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.learn-container {
    text-align: center;
    margin: 80px 0;

}


.learn-card {

    position: relative;
    z-index: 1;
    width: 60px;
    padding: 65px;
    min-height: 300px;
    margin-bottom: 20px;
    margin-right:30px ;
    margin-left: 30px;
    border-radius: 16px;
    transition: 0.3s ease;
}


.learn-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


.icon-circle {
    width: 90px;
    height: 90px;
    background-color: #3c5524;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    position: relative;
    transition: 0.3s ease;
    box-sizing: border-box;
    padding-top: 10px;
}


.learn-card:hover .icon-circle {
    box-shadow: 0 0 18px olivedrab;
}


.icon-circle i {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.learn-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #1e2d27;
}


.learn-card p {
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5;
    padding: 0 5px;
}


@media (max-width: 768px) {
    .learn-card {
        width: 80%;
        float: left;
        min-height: 300px;
    }
}

/* Mobile */
@media (max-width: 560px) {
    .learn-card {
        width: 50%;
        float: none;
        min-height: 250px;
    }
}
@media screen and (max-width:768px) {
    .background {
        width: 100%;
        height: 600px;
    }
    .recycle_title h1 {
        font-size: 25px;
        padding-bottom: 10px;

    }
}



