 .slide-wrapper {
            width: 100%;
            min-height: 100vh;         
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
        }

       
        .slide {
            width: 90%;
            max-width: 1100px;
            background: white;
            padding: 40px;
            border-radius: 20px;
        }

    .slide h1 {
            text-align: center;
            font-size: 40px;
            margin-bottom: 30px;
        }

        
        .large-img img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
        }

        .small-img img {
            width: 100%;
            height: 160px;
            object-fit: cover;
            border-radius: 30px;
        }

        .text-box {
            font-size: 18px;
            line-height: 1.6;
            padding: 10px;
            text-align: left;
        }

        .btn {
            display: inline-block;

            padding: 12px 30px;
            background: #486c3c;
            color: white;

            font-size: 18px;
            border-radius: 10px;
        
        }
        .btn a {
            text-decoration: none;
            color: #fff ;
        }