/* footer */
 
.footer {
  background-color:#3c5524;
  padding:30px 40px;
  color:white;
 
}
.footer p {
  font-size: 19px;
}
 
.footer h3 {
   
     /* margin-bottom:15px;  */
    font-size:30px;
    color:white;
}
 
 
.footer ul {
    color:white;
    font-size:20px;
     /* margin-bottom:15px;  */
}
 
.footer ul {
    list-style:none;
    padding:0;
}
 
.short-line {
    margin-right:100%;
    width:50px;
    color:white;
}
 
/* email-box and button */
.email-box {
  display: flex;
  margin-top: 15px;
}
.email-box input {
 
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline:none;
  width:60%;
}
 
.email-box button {
  background-color: #3b5de7;
  border: none;
  color: #fff;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
}
 
/* social-icons */
 
.social-icons {
  margin-top: 15px;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 28px;
  color: white;
 
}
 
.copyright {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;  
  color:white;
  font-size: 20px;
}
.social-icons {
  font-size: 130%;
  margin-top:50px;
}
.footer_logo img {
  width:80px;
  height:80px;
  border-radius: 50%;
}
.name-and-logo {
  padding-right:50px;
  padding-bottom:80px;
 
}
.quick-links ul li {
  margin-bottom:15px;
}
.quick-links ul li a {
  text-decoration: none;
}
 