body {
    font-family: Arial, sans-serif;
    margin-top: 80px;
    box-sizing: border-box;
    padding: 0;
    background: #f7f7f7;
    font-size: larger;

}

        .slide {
            background: white;
            margin: 30px auto;
            width: 95%;
            padding: 20px 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.12);

        }

        .heading {
            background:#506b47; 
            color: white;
            padding: 20px 20px;
            font-size: 32px;
            font-weight: bold;
            border-radius: 100px;
            margin-bottom: 28px;
        }

       .national img {
            width: 100%;
            max-height: 180px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        p, h3, h4 {
            margin-top: 0;
            margin-bottom: 12px;
            line-height: 1.5;
        }
        .slide .text-content {
    margin-top: 50px;   
      }

      .footer {
        margin-top:90px;
      }