body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    font-family: Arial, sans-serif;
    background-color:#506b47;
}


.login {
    width: 350px;
    background-color:#e4efd9; 
    border-radius:12px;
    box-shadow: 3px 8px 14px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    position: relative;
    margin-top:50px;
    margin-bottom: 50px;
}

.login-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 5px;
}

.login-header h2 {
    font-size: 27px;
    margin: 0;
    padding-left: 5px;
}



.btn-close {
    font-size:130px;
}

.line {
    border: 0;
    height: 1px;
    background-color: #a0a0a0;
    margin: 5px 0 20px 0 ;
}


.login-form {
    padding: 0 5px;
}

.form-group {
    margin-bottom: 30px; 
    color: black;
}

label {
    display: block; 
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height:40px;
    padding: 8px 10px;
    box-sizing: border-box; 
    border: 1px solid black; 
    border-radius: 6px;
    background-color: #fff; 
}

.login-btn  {
    display: inline-block;
    width: 110px; 
    padding: 10px 15px;
    margin:auto; 
    background-color:#506b47; 
    border-radius: 8px;
    font-size: 13px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 8px;
    height:40px;

}
.register-btn  {
    width: 180px;
    font-size: 13;
    display: inline-block;
    height:40px;
    padding: 10px 15px;
    box-sizing:border-box ;
    background-color:#506b47; 
    border-radius: 8px;

}


.close-btn {
    position: absolute;
    right: 25px;
    top:22px;
    font-size: 18px;
}