/* Title */
.title {
    margin-top: 80px;
}
.title h1 {
    border:1px solid black;
    background-color:#eef5e6;
    text-align: center;

    height:100px;
    font-size: 35px;
    color:black;
    padding-top:20px;
   

}

.paragraph p {
    font-size:20px;
    text-align: left;
    margin-top:50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: arial;
}

.line {
    margin-top:50px;
}


.background img {
    width:100%;
}

/* Content */

.background  {
 display: flex;
 justify-content: center;
 align-items: center;
 background-repeat: no-repeat;
 padding-top: 150px;
 background: url(participategallery/participate.png);
 width:100% ;
 height:500px;
 background-size: cover;
 margin: 0 auto;
 overflow: auto;
 margin-top:50px;
}

.background .content{
  font-family:arial;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 900px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center ;
  border-radius: 20px;
  
}

.content p {
    font-size:20px;
    padding-left:15px;
    padding-right:15px;

} 

/* Youtube Videos */

.videos {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }

.videos div {
    flex-basis:20%;
    text-align: center;
    padding:10px;
    margin-bottom:30px;
    border-radius: 19px;
    }
          
.videos img {
    width:300px;
    height:220px;
    padding:12px;
}
          
.videos a button {
    border:2px dashed black;
    font-family: arial;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
}
       
.h2 {
font-size: 160%;
}

p {
  font-size:20px;
 }

.videos button {
    background-color: #3c5524;
}

.team1 {
    border:1px solid black;
}  
.team2 {
    border:1px solid black;
}  
.team3 {
    border:1px solid black;
}    

.explore-video {
    text-align: center;
    font-size: 30px;
}

.youtube {
    font-family:arial;
}

.team1, .team2, .team3 {
    background-color:rgb(215, 241, 215);
}

@media screen and (max-width:768px) {
    .background {
        width: 100%;
    }
    .title h1 {
        font-size: 25px;
        padding-bottom: 10px;

    }
}