.body p {
    font-family: arial;
}
.reduce_title h1{
    border:1px solid black;
    background-color: #eef5e6;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:100px;
    font-size:40px;
    color:black;
    display: flex;
 
}
 
.paragraph p {
    font-size:20px;
    text-align: left;
    margin-top:50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: arial;
}
 
.line {
    margin-top:50px;
}
 
.background {
    margin-top:10px;
    height: 400px;
}
 
.background img {
    width:100%;

}
 
 
.background  {
 display: flex;
 justify-content: center;
 align-items: center;
 background-repeat: no-repeat;
 padding-top: 150px;
 background: url(gallery/plastic.png);
 width:100% ;
 background-size: cover;
 margin: 0 auto;
 overflow: auto;
 margin-top:50px;
}
 
.background .content{
  font-family:arial;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 900px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center ;
  border-radius: 20px;
 
}
 
.content p {
    font-size:20px;
    padding-left:15px;
    padding-right:15px;
 
}
 
 
/* Youtube videos */
 
.videos {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
 
.videos div {
    flex-basis:20%;
    text-align: center;
    padding:10px;
    margin-bottom:10px;
    border-radius: 20px;
    }
         
.videos img {
    width:300px;
    height:220px;
    padding:12px;
}
         
.videos button {
    border:2px dashed black;
    font-family: Arial;
    padding: 4px 5px;
    font-size: 20px;
    border-radius: 10px;
}
       
.h2 {
font-size: 160%;
}
 
p {
  font-size:20px;
 }
 
.videos button {
    background-color: #3c5524;
    cursor: pointer;
}
 
.team1 {
    border:1px solid black;
}  
.team2 {
    border:1px solid black;
}  
.team3 {
    border:1px solid black;
}    
 
 
 
.explore-video {
    text-align: center;
    font-size: 30px;
}
 
.youtube {
    font-family:arial;
}
 
.team1, .team2, .team3 {
    background-color:rgb(215, 241, 215);
}
 
/* footer */
.footer {
    margin-top:80px;
}
@media screen and (max-width:768px) {
    .background {
        width: 100%;
        height: 600px;
    }
    .reduce_title h1 {
        font-size: 20px;
        padding-bottom: 10px;

    }
}