body {
    font-family: Arial, sans-serif;
    background:  #506b47;
}

.register-box {
    width: 500px;
    background-color:#e4efd9;
    padding: 20px 25px;
    margin: 40px auto;
    border-radius: 12px;
    position: relative;
    margin-top: 100px;
}

.close-btn {
    position: absolute;
    right: 25px;
    top:22px;
    font-size: 18px;
}


h2 {
    margin-top: 0;
}


.col label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="confirm"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 7px;
    margin-bottom: 15px;
    box-sizing: border-box;
    margin-top:6px;
    height:42px ;
    box-shadow: 2px 2px 2px rgb(82, 79, 79);
}

.gender {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
    margin-top:8px;
}

.terms {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 20px;
}

.register , .have_account{
    width: 120px;
    padding: 10px;
    background:#506b47;
    border: none;
    border-radius: 7px;
    margin: auto;
    font-size: 16px;
    margin: auto;

    text-decoration: none;
    display: inline-block;
}
.have_account{
    font-size: 15px;
    width: 200px;
}


input[type="email"] {
    margin-top:8px;
}

@media screen and (max-width:768px) {
    .register-box {
        width: 400px;
    }
}